{% extends 'base.html' %}
{%load static %}
{% block title %} Sign Up {% endblock %}
{% block inpagecss %}
    .login-form {
{#      display: flex;#}
      align-items: center;
      justify-content: center;
{#      height: 100vh; /* Set the height of the container to the full viewport height */#}
    }
{% endblock %}
{% block content %}

 <main id="main">
    <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <p>Create a user account</p>
        </header>

        <div class="row">
            <div class="col-lg-2"></div>
          <div class="col-lg-7">


  <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
                  <div class="mb-4">
                       <label for="username">Username (Warning: usernames will be forced to lowercase)</label>
                        <input type="text" class="form-control" id="username" name="username"  Required>
                      <div id="usernameHelp" class="form-text">Enter desired username.</div>
                  </div>
				  
				  <div class="mb-4">
                       <label for="username">First Name</label>
                        <input type="text" class="form-control" id="firstname" name="firstname"  Required>
                      <div id="firstnameHelp" class="form-text">Enter first name.</div>
                  </div>
				  
				  <div class="mb-4">
                       <label for="username">Last Name</label>
                        <input type="text" class="form-control" id="lastname" name="lastname"  Required>
                      <div id="lastnameHelp" class="form-text">Enter last name.</div>
                  </div>
                  
                  <div class="mb-4">
                    <label for="email" class="form-label">Email address (Warning: emails will be forced to lowercase)</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" Required>
                    <div id="emailHelp" class="form-text">Enter your registered email address.</div>
                  </div>
				  
				  <div class="mb-4">
                    <label for="firstname" class="form-label">Organization</label>
                    <input type="text" class="form-control" id="organization" name="organization" aria-describedby="organizationHelp" Required>
                    <div id="firstnameHelp" class="form-text">Enter your organization.</div>
                  </div>
                  			  
                  <div class="mb-4">
                    <label for="lastname" class="form-label">Incorporation</label>
                    <input type="text" class="form-control"  name="incorporation" id="incorporation" aria-describedby="incorporationHelp" Required>
                    <div id="lastnameHelp" class="form-text">Enter your incorporation.</div>
                  </div>
				  <div class="mb-4">
                    <label for="firstname" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp" Required>
                    <div id="firstnameHelp" class="form-text">Enter your address.</div>
                  </div>
			  
                  <div class="mb-4">
                    <label for="lastname" class="form-label">VAT No</label>
                    <input type="text" class="form-control"  name="vat_no" id="vat_no" aria-describedby="vatNoHelp" Required>
                    <div id="lastnameHelp" class="form-text">Enter your VAT No.</div>
                  </div>

				  <div class="mb-4">
                    <label for="firstname" class="form-label">Position Title</label>
                    <input type="text" class="form-control" id="position_title" name="position_title" aria-describedby="PositionTitleHelp" Required>
                    <div id="firstnameHelp" class="form-text">Enter your position title.</div>
                  </div>	

				  <div class="mb-4">
                    <label for="firstname" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" Required>
                    <div id="firstnameHelp" class="form-text">Enter your phone number.</div>
                  </div>	
						  
                  <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" Required>
                  </div>
                  <div class="mb-4">
                    <label for="confirmpassword" class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" Required>
                  </div>
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                   <div class="mb-3">
                    <a href="{% url 'login' %}">Login</a>
                  </div>
                </form>

          </div>

          <div class="col-lg-3">
<p>
    <b>Note: </b> All fields are required.
</p>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>Message:</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    {% endfor %}



            </div>
          </div>

        </div>

      </div>

    </section><!-- End F.A.Q Section -->
 </main><!-- End #main -->


{% endblock %}
```